body{
    background-color: lightblue;
}

#koelkast{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

section{
    border: 2px solid black;
    padding: 10px;
    min-height: 200px;
}

h2{
    margin: 0 0 10px 0; /* top right bottom  left */
}

.paars{
    color: purple;
}

.groen{
    color: green;
}

button{
    padding: 10px 20px;
    background-color: lightgreen;
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid black;
}

button:hover{
    background-color: rgb(45, 218, 45);
}